<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tópicos Especiais - 2020/01
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <h2 class="ion-text-center">Uso de Lista</h2>

  <ion-list>
    <ion-list-header>Exemplo de Icones</ion-list-header>
      <ion-item>
          <ion-icon name="calendar" slot="start"></ion-icon>
          <ion-text color="primary">
            <p>Calendário</p>
          </ion-text>
      </ion-item>

      <ion-item>
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>
            <h2>Página Inicial</h2>
            <p>Introdução</p>
          </ion-label>
      </ion-item>

      <ion-item-divider lines="none">
          <ion-label>
            Exemplo de Formulário
          </ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input></ion-input>
      </ion-item>

    </ion-list>

</ion-content>
